#masthead {
	//height: 100px;
	background: $white;
	padding: 1rem 0;
	border-top: 4px solid $primary;
	border-bottom: 1px solid $primary;

	h1 {
		text-align: center;
		margin: 0;
		color: $gray-700;
		font-size: 1.5rem;
		padding-left: 100px;
		font-weight: 300;
	}

	#logo {
		position: absolute;
	    top: -1rem;
	    left: 1rem;
	    width: 100px;
    	height: auto;
    	z-index: 999;
	}

	@include media-breakpoint-up (lg) {
		#logo {
			left: 4rem;
			width: auto;
		}

		h1 {
			font-size: 2.5rem;
			padding-left: 0;
		}
	}
}


.session {
	#masthead {
		#logo {
			width: 100px;
    		height: auto;
		}
	}
}