.btn-primary {
	color: $white;
}

.carousel {

	margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;

	.slick-slide {
		position: relative;

		.slide-content {
			position: absolute;
			top: 30%;
			left: 10%;
			width: 80%;
			padding: 1rem 2rem;
			background: rgba(255, 255, 255, 0.82);

			h4 {
				font-size: 1rem;
				color: $primary;
				font-weight: 300;
			}

			h3 {
				margin: 0;
				font-size: 1.22rem;
				color: $gray-800;
				font-weight: 400;
			}
		}

		@include media-breakpoint-up(lg) {
			.slide-content {

				width: 50%;

				h4 {
					font-size: 1.25rem;
				}

				h3 {
					font-size: 2rem;
				}
			}
		}

	}
}


.side-block {
	padding: 1rem;
	border-bottom: 3px solid $primary;
	margin-top: 10px;

	&.primary {
		background-color: $white;
	}

	&.yellow {
		background-color: #ffdd00;
	}
}

.intervenants {

	.slick-dots {
		
		bottom: -25px;

		li button:before {
			color: $primary;
		}
	}

	.portrait {
		clip-path: url(#myClip);
	}

	.intervenant {
		p {
			font-size: 0.85rem;
			color: $primary;
			font-weight: 300;
			margin-bottom: 0.5rem;
		}

		h5 {
			font-size: 1.25rem;
			color: $primary;
			font-weight: 400;
			margin-bottom: 0.5rem;
		}

	}
}

.col-contenu {
	background: $white;

	.inner {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.sidebar {
	
	margin-bottom: 10px;

	.masque {
		position: absolute;
	}
}

.punchline {
	background: $gray-100;
	padding: 2rem;
	border-radius: 10px;
	margin-top: 2rem;
	margin-bottom: 2rem;

	h2 {
		margin: 0;
		color: $primary;
	}
}

.question {
	h2 {
		color: $primary;
		font-weight: 400;
		text-align: center;
	}
}

.compteur {
	h2 {
		font-weight: 400;
		text-align: center;
	}

	.col-time {
		font-family: 'Roboto', sans-serif;
		line-height: 1;

		div {
			font-weight: 300;
			font-size: 2.5rem;
		}

		span {
			font-size: 0.625rem;
		}
	}

	.col-points {
		font-size: 1.625rem;
		opacity: 0.36;
	}
}

