@font-face{ 
	font-family: "BreeW01";
    font-style: normal;
    font-weight: 300;
	src: url('../fonts/bree-light.eot');
	src: url('../fonts/bree-light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/bree-light.woff') format('woff'),
	     url('../fonts/bree-light.ttf') format('truetype'),
	     url('../fonts/bree-light.svg#webfont') format('svg');
}

@font-face {
    font-family: "BreeW01";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BreeW01-Regular_tt.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/BreeW01-Regular_ot.otf") format("opentype"), 
	url("../fonts/BreeW01-Regular_ot.woff") format("woff"), 
	url("../fonts/BreeW01-Regular_tt.ttf") format("truetype"), 
	url("../fonts/BreeW01-Regular_tt.svg#BreeW01-Regular_tt") format("svg");
}

@font-face {
    font-family: "BreeW01";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/BreeW01-Bold_tt.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/BreeW01-Bold_ot.otf") format("opentype"), 
	url("../fonts/BreeW01-Bold_ot.woff") format("woff"), 
	url("../fonts/BreeW01-Bold_tt.ttf") format("truetype"), 
	url("../fonts/BreeW01-Bold_tt.svg#BreeW01-Bold_tt") format("svg");
}