/*#messages {
	height: 50vh;
	overflow: scroll;
}*/

.session {
	#content {
		font-family: 'Roboto', sans-serif;
	}
}

.keep-lines {
	white-space: pre-line;
	word-break: break-all;
}

#chatroom {
	min-height: calc(100vh - 85px);
	background: $white;

	h1 {
		color: $primary;
		font-family: $font-family-sans-serif;
		font-weight: 400;
	}

	.liste-intervenants {
		font-weight: bold;
		font-size: 0.875rem;

		.light {
			font-weight: 300;
		}
	}

	.avatar-select {
		.image_picker_selector li {
			width: 19%;

			img {
				@include img-fluid();
			}
			
		}
	}

	#header-chat {
		height: 150px;
		background: $white;
		border-bottom: 3px solid $gray-400;

		.media {
			p {
				font-weight: 300;
				font-size: 0.8rem;

				.text-yellow {
					font-weight: 700;
					color: $yellow;
				}
			}
		}
	}

	.btn-like {
		background: transparent;
		border: none;
		background-image: url(../img/like.png);
		background-repeat: no-repeat;
		height: 28px;
		width: 28px;
		padding: 0;
		margin-right: 0.5rem;
		@include text-hide();

		&, &:focus {
    		box-shadow: none!important;
		}

		&.disabled {
			background-image: url(../img/like-disabled.png);
		}
	}

	.questions-container {
		overflow: scroll;
	}

	#questions-tab {
		font-size: 0.7rem;
		height: 34px;
		background: $gray-800;
		border-bottom: 3px solid $gray-400;

		.nav-link {
			padding: 0.5rem 0.5rem;
			text-transform: uppercase;
			border-radius: 0;
			color: $gray-400;
			border: none !important;
			background: transparent !important;

			&:hover {
				color: $white;
			}

			&.active {
				
				color: $yellow;
			}


			.badge {
				background: transparent;
				vertical-align: text-top;
			}
		}
	}

	#chat-zone {
		border-radius: 0;
		border-left: 1px solid $white;

		&, &:focus {
    		box-shadow: none!important;
		}

		&:focus {
			border: 1px solid $gray-600;
		}
	}

	#messages {
		height: calc(100vh - 85px - 150px - 48px);

		.publication-container {
			height: 100%;
			overflow: scroll;
		}

		.question {
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	#questions-moderateur {
		.questions-container {
			height: calc(100vh - 34px - 85px - 150px);
			
		}
	}

	#questions-content {
		border-right: 3px solid $gray-400;
	}

	#send-form {
		.btn-envoyer {
			border-radius: 0;
			background: transparent;
			background-image: url(../img/envoi.png);
			background-repeat: no-repeat;
			background-size: cover;
			height: 48px;
			width: 48px;
			padding: 0;
			@include text-hide();
			border: 1px solid $gray-400;
			border-left: none;

			&, &:focus {
	    		box-shadow: none!important;
			}

			&:hover {
				background-color: $gray-100;
			}
		}
	}

	#openclose {
		position: fixed;
	    bottom: 0;
	    right: 0;
	}

	.question-fil {
		.pseudo {
			font-weight: bold;
			margin-right: 1rem;
		}

		.date-publi {
			font-size: 0.7rem;
			color: $gray-600;
		}

		p {
			margin-bottom: 0.2rem;
		}

		.alert-primary {
		    color: $gray-800;
		    background-color: $white;
		    border-color: $gray-300;
		    position: relative;

		    &:before {
		    	position: absolute;
		    	right: -10px;
		    	top: 12px;
		    	content: url(../img/arrow-right.png);
		    }
		}

		.alert-secondary {
		    color: $gray-800;
		    background-color: $gray-300;
		    border-color: $gray-300;
		    position: relative;

		    &:before {
		    	position: absolute;
		    	left: -10px;
		    	top: 12px;
		    	content: url(../img/arrow-left.png);
		    }
		}
	}

	.question {
		/*padding: 1rem;
		background: $gray-400;
		border-bottom: 1px solid $gray-100;
		position: relative;*/

		padding: 1rem;
		border-bottom: 1px solid $gray-100;
		position: relative;

		h5 {
			font-size: 1rem;
			color: $primary;
			margin-bottom: 0.2rem;
		}

		p {
			font-weight: 300;
			font-size: 0.875rem;
		}

		.avatar {
			width: 36px;
			height: auto;
		}

		.badge-light {
			background: transparent;
			color: $gray-600;
			font-weight: 300;
		}
		
		.question-more {
		    position: absolute;
			top: 5px;
			right: 5px;
		}

		.vue-star-rating-star {
			line-height: 1;
		}

		.btn-refuse {
			color: $gray-400;
			margin-bottom: 0.1rem;

			&:hover {
				color: $gray-800;
			}
		}

		.dropdown-menu {
			padding: 0;
			border-radius: 0;
			margin-top: -10px;
		}


		/*.star-rating {

			

			&[data-value="0"] {
				.fa-star {
					display: none;
				}
			}

			&[data-value="1"] {
				.btn {
					.fa-star {
						display: none;
					}
				}
				.btn:nth-child(1) {
					.fa-star {
						display: inline;
					}
					.fa-star-o {
						display: none;
					}
				}
				
			}

			&[data-value="2"] {
				.btn {
					.fa-star {
						display: none;
					}
				}
				.btn:nth-child(1), .btn:nth-child(2) {
					.fa-star {
						display: inline;
					}
					.fa-star-o {
						display: none;
					}
				}
				
			}

			&[data-value="3"] {
				.btn {
					.fa-star {
						display: none;
					}
				}
				.btn:nth-child(1), .btn:nth-child(2), .btn:nth-child(3) {
					.fa-star {
						display: inline;
					}
					.fa-star-o {
						display: none;
					}
				}
				
			}

			&[data-value="4"] {
				.btn {
					.fa-star {
						display: none;
					}
				}
				.btn:nth-child(1), .btn:nth-child(2), .btn:nth-child(3), .btn:nth-child(4) {
					.fa-star {
						display: inline;
					}
					.fa-star-o {
						display: none;
					}
				}
				
			}

			&[data-value="5"] {
				.btn {
					.fa-star-o {
						display: none;
					}
				}				
			}
		} */
	}
}

/*body.single-livechat {
	background: $gray-200;
	overflow: hidden;
}*/

